<% content_for :header do %>
  <%= javascript_include_tag :focus %>
  <%= javascript_include_tag :loadinggif %>
<% end %>

<%= form_for(@movie) do |f| %>
   <% if @movie.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => 'Name' %>
  </div>
  <div class="field">
    <%= f.label :threed, "3D?", :class => "checkbox inline" %>
    <%= f.check_box :threed, :class => "checkbox inline" %>
  </div>
  <div class="field">
    <%= f.label :extended, "Extended Edition?", :class => "checkbox inline" %>
    <%= f.check_box :extended %>
  </div>
  <div class="field">
    <%= f.label :DC, "Directors Cut?", :class => "checkbox inline" %>
    <%= f.check_box :dc %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :id => 'submit', :class => 'btn btn-primary', disable_with: 'Saving...' %><%= image_tag("loading.gif", :style => "visibility:hidden;") do  %>
    <% end %>
  </div>

<% end %>
