<ul class="movieinfo">
  <li class="movieheader selectable" data-id="<%= movie.id %>" >
	  <% if current_user.favorite_for(movie) %>
			<%= image_tag("star_color.png", :class => 'star') %>
	  <% else %>
			<%= image_tag("star_bw.png", :class => 'star') %>
	  <% end %>
	  <h4 class="movietitle"><%= movie.name %> (<%= movie.original_title %>)</h3>
	  <h5 class="movierating">Imdb: <%= movie.rating %></h5>
		<%= image_tag("3d.png", :title => "Available in 3D", :class => "movierating") if movie.threed %>
		<%= image_tag("extended.png", :title => "Available as Extended Edition", :class => "movierating") if movie.extended %>
		<%= image_tag("dc.png", :title => "Available as Directors Cut", :class => "movierating") if movie.dc %>
  </li>
  <li><img class="cover" src="/cover/<%= movie.poster %>.jpg"></li>
	<li class="moviedetails movieplot"><%= movie.plot %></li>
  <li class="moviedetails"><b>Regie:</b> <%= movie.directors_string %></li>
  <li class="moviedetails"><b>Produzent:</b> <%= movie.producers_string %></li>
	<li class="moviedetails"><b>Actor:</b> <%= movie.actors_string %></li>
	<li class="moviedetails"><b>Genres:</b> <%= movie.genres_string %></li>
	<li class="moviedetails"><b>Release Date:</b> <%= movie.release_date %></li>
	<li class="moviedetails"><b>Length:</b> <%= movie.length %>min</li>
	<li class="moviedetails">
		<i class="icon-user" title="User die diesen Film besitzen"></i><%= movie.users_string %>	
		<% if (!movie.trailer_url.nil?) %>
		  |
			<%= link_to "https://www.youtube.com/watch?v=#{movie.trailer_url}&hd=1" do %>
				<i class="icon-film" title="Show Trailer"></i> Trailer
			<% end %>
                <% else %>
                  |
                        <%= link_to "https://www.youtube.com/results?search_type=videos&search_query=#{movie.name.gsub(' ','+')}+trailer+deutsch+german&high_definition=1" do %>
                                <i class="icon-film" title="Search Trailer"></i> Search Trailer
                        <% end %>
		<% end %>
		<% if (movie.users.include?(current_user) || current_user.admin?) %>
		  |
			<%= link_to edit_movie_path(movie) do %>
				<i class="icon-wrench" title="Edit Movie"></i> Edit
			<% end %>
		<% end %>
		|
		<%= link_to movie do %>
    	<i class="icon-fullscreen" title="Show Movie"></i> Show
		<% end %>
	</li>
</ul>

