<h1>Edit "<%= @movie.name%>"</h1>
 
<%= render 'form' %>

<%= button_to 'Reload Info', movie_reload_info_path(@movie), :class => 'btn btn-small edit-movie', :method => :get %>
<%= button_to 'Load Info', movie_load_info_path(@movie), :class => 'btn btn-small edit-movie', :method => :get %>
<%= button_to 'Destroy', @movie, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small btn-danger edit-movie', :method => :delete %>
