<% content_for :header do %>
  <%= javascript_include_tag :favorite %>
  <%= javascript_include_tag :shorten_text %>
<% end %>

<%= form_tag movies_path, :method => :get do |f| %>
<div class="input-prepend input-append">
  <%= select(:filter, :name, options_for_select(['all', 'favs'], (params[:filter] && params[:filter][:name]) || 'all'), {}, { :class => "btn dropdown-toggle span1" }) %>
  <%= text_field_tag :search, params[:search], {:class => "span2", :placeholder => "Name contains..."} %>
  <%= button_tag(type: 'submit', :class => "btn") do %>
  	<i class="icon-search"></i>
  <% end %>
</div>
<% end %>

<ul class="movielist">
<% @movies.each do |movie| %>
  <li class="movierow id">
    <%= render :partial => "movies/single", :locals => { :movie => movie} %>
  </li>
<% end %>
</ul>
<div style="clear:both;padding-top:20px;"></div>
<h5>Summe der Filme: <%= @sum_movies -%></h5>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @movies %>
  </div>
  <%= will_paginate @movies %>
</div>
