<table>
  <tr style="text-align:left;">
    <th style="width:45%;"><%= sortable "name", "Name" %></th>
    <th><%= sortable "user_id", "User" %></th>
    <th><%= sortable "created_at", "Created At" %></th>
  </tr>

<% @movies.each do |movie| %>
  <% if current_user.favorite_for(movie) %>
  	<tr class="movierow selected" data-id="<%= movie.id %>">
  <% else %>
  	<tr class="movierow" data-id="<%= movie.id %>">
  <% end %>
    <td class="withBorders selectable"><%= movie.name %></td>
    <td class="withBorders selectable"><%= movie.user.username %></td>
    <td class="withBorders selectable"><%= movie.created_at.to_date %></td>
    <% if (movie.user_id == current_user.id) %>
      <td><%= link_to 'Edit', edit_movie_path(movie) %><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<p>Summe der Filme: <%= @sum_movies -%></p>
