<% content_for :header do %>
  <%= javascript_include_tag :movies_list %>
<% end %>

<%= form_for @search, :url => list_movies_path, :html => {:method => :get} do |f| %>
<div class="input-append">
  <%= f.text_field :name_contains, :id => "appendedInputButton", :class => "span2", :placeholder => "Name contains..." %>
  <%= f.submit :class => "btn" do %>
  	<i class="icon-search"></i>
  <% end %>
  </div>
<% end %>

<ul class="movielist">
<% @movies.each do |movie| %>
  <li class="movierow id">
    <%= render :partial => "single", :locals => { :movie => movie} %>
    <%= link_to movie, :class => "fullscreen" do %>
    	<i class="icon-fullscreen" title="Show Movie"></i>
  	<% end %>
  </li>
<% end %>
</ul>
<div style="clear:both;padding-top:20px;"></div>
<h5>Summe der Filme: <%= @sum_movies -%></h5>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @posts, :container => false %>
</div>
