<%= form_for(@movie) do |f| %>
   <% if @movie.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<ul class="movieinfo selectable">
  <li class="movieheader" >
  	<h3 class="movietitle"><%= @movie.name %> (<%= @movie.original_title %>)</h3>
  	<h5 class="movierating">Imdb: <%= @movie.rating %></h5>
  </li>
  <li><img class="cover" src="/assets/cover/<%= @movie.poster %>.jpg"></li>
  <li class="movieplot moviedetails"><%= @movie.plot %></li>
  <li class="moviedetails"><b>Regie:</b> <%= @movie.directors_string %></li>
  <li class="moviedetails"><b>Produzent:</b> <%= @movie.producers_string %></li>
  <li class="moviedetails"><b>Actor:</b> <%= @movie.actors_string %></li>
  <li class="moviedetails"><b>Genres:</b> <%= @movie.genres_string %></li>
  <li class="moviedetails"><b>Release Date:</b> <%= @movie.release_date %></li>
  <li class="moviedetails"><b>Length:</b> <%= @movie.length %>min</li>
</ul>
<% end %>
