<% content_for :header do %>
  <%= javascript_include_tag :movies_list %>
<% end %>

<%= form_for @search, :url => director_movies_path, :html => {:method => :get} do |f| %>
<div class="input-append">
  <%= f.text_field :name_or_original_title_or_plot_like, :id => "appendedInputButton", :class => "span2", :placeholder => "Name contains..." %>
  <%= button_tag(type: 'submit', :class => "btn") do %>
  	<i class="icon-search"></i>
  <% end %>
  </div>
<% end %>

<ul class="movielist">
<% @movies.each do |movie| %>
  <li class="movierow id">
    <%= render :partial => "movies/single", :locals => { :movie => movie} %>
  </li>
<% end %>
</ul>
<div style="clear:both;padding-top:20px;"></div>
<h5>Summe der Filme: <%= @sum_movies -%></h5>

