<!DOCTYPE html>
<html>
<head>
  <title>Moviemanager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if (user_signed_in?) %>
<div class="links">
<%= link_to 'new movie', new_movie_path %>
<div style="float:right;">
<%= link_to 'logout', destroy_user_session_path %> 
</div>
</div>
<% end %>
<div style="margin-top:50px;">
<%= yield %>
</div>
</body>
</html>
